        </div>
        <!--/ Application Content -->



        <!-- ============================================
        ============== Vendor JavaScripts ===============
        ============================================= -->


        <script src="__PUBLIC__/js/vendor/d3/d3.min.js"></script>
        <script src="__PUBLIC__/js/vendor/d3/d3.layout.min.js"></script>

        <script src="__PUBLIC__/js/vendor/rickshaw/rickshaw.min.js"></script>

        <script src="__PUBLIC__/js/vendor/sparkline/jquery.sparkline.min.js"></script>

        <script src="__PUBLIC__/js/vendor/slimscroll/jquery.slimscroll.min.js"></script>

        <script src="__PUBLIC__/js/vendor/animsition/js/jquery.animsition.min.js"></script>

        <script src="__PUBLIC__/js/vendor/daterangepicker/moment.min.js"></script>
        <script src="__PUBLIC__/js/vendor/daterangepicker/daterangepicker.js"></script>

        <script src="__PUBLIC__/js/vendor/screenfull/screenfull.min.js"></script>

        <script src="__PUBLIC__/js/vendor/flot/jquery.flot.min.js"></script>
        <script src="__PUBLIC__/js/vendor/flot/jquery.flot.resize.min.js"></script>
        <script src="__PUBLIC__/js/vendor/flot/jquery.flot.orderBars.js"></script>
        <script src="__PUBLIC__/js/vendor/flot/jquery.flot.stack.min.js"></script>
        <script src="__PUBLIC__/js/vendor/flot/jquery.flot.pie.min.js"></script>
        <script src="__PUBLIC__/js/vendor/flot-spline/jquery.flot.spline.min.js"></script>
        <script src="__PUBLIC__/js/vendor/flot-tooltip/jquery.flot.tooltip.min.js"></script>

        <script src="__PUBLIC__/js/vendor/gaugejs/gauge.min.js"></script>

        <script src="__PUBLIC__/js/vendor/raphael/raphael-min.js"></script>
        <script src="__PUBLIC__/js/vendor/d3/d3.v2.js"></script>
        <script src="__PUBLIC__/js/vendor/rickshaw/rickshaw.min.js"></script>



        <script src="__PUBLIC__/js/vendor/morris/morris.min.js"></script>

        <script src="__PUBLIC__/js/vendor/easypiechart/jquery.easypiechart.min.js"></script>



        <script src="__PUBLIC__/js/vendor/owl-carousel/owl.carousel.min.js"></script>

        <script src="__PUBLIC__/js/vendor/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

        <script src="__PUBLIC__/js/vendor/datatables/js/jquery.dataTables.min.js"></script>
        <script src="__PUBLIC__/js/vendor/datatables/extensions/dataTables.bootstrap.js"></script>

        <script src="__PUBLIC__/js/vendor/chosen/chosen.jquery.min.js"></script>

        <script src="__PUBLIC__/js/vendor/summernote/summernote.min.js"></script>

        <script src="__PUBLIC__/js/vendor/coolclock/coolclock.js"></script>
        <script src="__PUBLIC__/js/vendor/coolclock/excanvas.js"></script>

        <script src="__PUBLIC__/js/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

        <script src="__PUBLIC__/js/vendor/touchspin/jquery.bootstrap-touchspin.min.js"></script>
        <!--/ vendor javascripts -->


        <!-- ============================================
        ============== Custom JavaScripts ===============
        ============================================= -->
        <script src="__PUBLIC__/js/main.js"></script>
        <!--/ custom javascripts -->








        <!-- ===============================================
        ============== Page Specific Scripts ===============
        ================================================ -->
        <script>
            $(window).load(function(){
                // Initialize Statistics chart
                var data = [{
                    data: [[1,15],[2,40],[3,35],[4,39],[5,42],[6,50],[7,46],[8,49],[9,59],[10,60],[11,58],[12,74]],
                    label: 'Unique Visits',
                    points: {
                        show: true,
                        radius: 4
                    },
                    splines: {
                        show: true,
                        tension: 0.45,
                        lineWidth: 4,
                        fill: 0
                    }
                }, {
                    data: [[1,50],[2,80],[3,90],[4,85],[5,99],[6,125],[7,114],[8,96],[9,130],[10,145],[11,139],[12,160]],
                    label: 'Page Views',
                    bars: {
                        show: true,
                        barWidth: 0.6,
                        lineWidth: 0,
                        fillColor: { colors: [{ opacity: 0.3 }, { opacity: 0.8}] }
                    }
                }];

                var options = {
                    colors: ['#e05d6f','#61c8b8'],
                    series: {
                        shadowSize: 0
                    },
                    legend: {
                        backgroundOpacity: 0,
                        margin: -7,
                        position: 'ne',
                        noColumns: 2
                    },
                    xaxis: {
                        tickLength: 0,
                        font: {
                            color: '#fff'
                        },
                        position: 'bottom',
                        ticks: [
                            [ 1, 'JAN' ], [ 2, 'FEB' ], [ 3, 'MAR' ], [ 4, 'APR' ], [ 5, 'MAY' ], [ 6, 'JUN' ], [ 7, 'JUL' ], [ 8, 'AUG' ], [ 9, 'SEP' ], [ 10, 'OCT' ], [ 11, 'NOV' ], [ 12, 'DEC' ]
                        ]
                    },
                    yaxis: {
                        tickLength: 0,
                        font: {
                            color: '#fff'
                        }
                    },
                    grid: {
                        borderWidth: {
                            top: 0,
                            right: 0,
                            bottom: 1,
                            left: 1
                        },
                        borderColor: 'rgba(255,255,255,.3)',
                        margin:0,
                        minBorderMargin:0,
                        labelMargin:20,
                        hoverable: true,
                        clickable: true,
                        mouseActiveRadius:6
                    },
                    tooltip: true,
                    tooltipOpts: {
                        content: '%s: %y',
                        defaultTheme: false,
                        shifts: {
                            x: 0,
                            y: 20
                        }
                    }
                };




                // Initialize owl carousels
                $('#todo-carousel, #feed-carousel, #notes-carousel').owlCarousel({
                    autoPlay: 5000,
                    stopOnHover: true,
                    slideSpeed : 300,
                    paginationSpeed : 400,
                    singleItem : true,
                    responsive: true
                });

                $('#appointments-carousel').owlCarousel({
                    autoPlay: 5000,
                    stopOnHover: true,
                    slideSpeed : 300,
                    paginationSpeed : 400,
                    navigation: true,
                    navigationText : ['<i class=\'fa fa-chevron-left\'></i>','<i class=\'fa fa-chevron-right\'></i>'],
                    singleItem : true
                });
                //* Initialize owl carousels


                //Initialize mini calendar datepicker
                $('#mini-calendar').datetimepicker({
                    inline: true
                });
                //*Initialize mini calendar datepicker

                //todo's
                $('.widget-todo .todo-list li .checkbox').on('change', function() {
                    var todo = $(this).parents('li');

                    if (todo.hasClass('completed')) {
                        todo.removeClass('completed');
                    } else {
                        todo.addClass('completed');
                    }
                });
                //* todo's


                //initialize datatable
                $('#project-progress').DataTable({
                    "aoColumnDefs": [
                      { 'bSortable': false, 'aTargets': [ "no-sort" ] }
                    ],
                });
                //*initialize datatable

                //load wysiwyg editor
                $('#summernote').summernote({
                    toolbar: [
                        //['style', ['style']], // no style button
                        ['style', ['bold', 'italic', 'underline', 'clear']],
                        ['fontsize', ['fontsize']],
                        ['color', ['color']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['height', ['height']],
                        //['insert', ['picture', 'link']], // no insert buttons
                        //['table', ['table']], // no table button
                        //['help', ['help']] //no help button
                    ],
                    height: 143   //set editable area's height
                });
                //*load wysiwyg editor
            });
        </script>
        <!--/ Page Specific Scripts -->


    </body>
</html>
